
<div style="width:40%;margin-left: 15.625em;">
<!-- <md-icon md-svg-src="./logo_animated.svg"    style="position:fixed;right:21.6%;top:20%;width:12.500em;height:12.500em;" aria-label="Cart"    ></md-icon> -->
<div ng-controller="loginVerificationCtrl" layout="column" ng-cloak class="md-inline-form" ng-init="validate($event)" >
  <md-content md-theme="docs-light" layout-gt-sm="row" layout-padding style="margin-top: 2.625em;opacity:0.9;">
   <form name="userForm">
       
         <div>
   <h1 class="md-display-3">VERIFICATION</h1>
   <a href="#!/"><md-icon  md-svg-src="./logo_animated.svg"    style="position:fixed;top:20%;width:30.500em;height:30.500em;" aria-label="Cart"    ></md-icon></a>
     <!-- <md-input-container class="md-block" >
          <label><i class="fa fa-envelope" aria-hidden="true"></i>    Email</label> 
              <input ng-model="user.email" type="email">
          </md-input-container>
           <md-input-container class="md-block" >
            <label><i class="fa fa-key" aria-hidden="true"></i>    Password</label>
            <input ng-model="user.Password" type="password">
          </md-input-container>
           <md-input-container class="md-block" >
            <label><i class="fa fa-check-square-o" aria-hidden="true"></i>   Verification Code</label>
            <input ng-model="user.verificationCode" type="password">
          </md-input-container>
            <md-button class="md-raised md-primary" ng-click="verify()"><i class="fa fa-sign-in" aria-hidden="true" ></i> Verify & Login </md-button>-->
        
    </div>
  
      </form>   
  </md-content>
 </div>
</div>