    

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">SB Admin</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->


                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="index.html#!/manageCourse"><i class="fa fa-fw fa-dashboard"></i> Add Course Details</a>
                        </li>
                        <li>
                            <a href="index.html#!/editCourse"><i class="fa fa-fw fa-bar-chart-o"></i> Edit Course Details</a>
                        </li>
                    
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Edit Course Details
                                
                            </h1>
                        
                        </div>
                    </div>
                      <div class="form-group">
                          <form >
                               <!--  <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Enter Email address of Lecturer</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="email" placeholder="Enter your email">
                                        </div>
                                    </div>

                                <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Role</label>
                                        <div class="col-sm-10">
                                           <input type="text" class="form-control" ng-model="role" placeholder="Enter your role">
                                        </div>
                                    </div>
                                <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Dept</label>
                                        <div class="col-sm-10"> 
                                                <input type="text" class="form-control"  ng-model="dept" placeholder="Enter your dept">
                                        </div>
                                    </div>                   

                                    <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                             <input type="button" class="button btn-primary" ng-click="insert()" value="Submit"></button>


                                </div> -->

                                <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Enter Name of Course</label>
                                        <div class="col-sm-10" >
                                            <input type="text" class="form-control" ng-model="name" ng-keyup="search()">
                                        </div>
                                           <div ng-repeat="course in courses"> 
                                            <div flex-xs flex-gt-xs="32" style="float:left;"   >   
                                            <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                                            <md-card-title>
                                                                                  

                                             <md-card-title-text>
                                             <span class="md-headline ng-binding">Subject ID :{{course.id}}</span>
                                             <span class="md-headline ng-binding">Subject name :{{course.name}}</span>
                                             <span class="md-subhead" style="color:#337ab7;"> Year :{{course.year}}</span>
                                             <span class="md-subhead" style="color:#337ab7;">Semester :{{course.semester}}</span>
                                             <span class="md-subhead" style="color:#337ab7;">Time : {{course.time}}</span>
                                             <span class="md-subhead" style="color:#337ab7;">Location : {{course.location}}</span>
                                             <span class="md-subhead" style="color:#337ab7;">Enrollment Key : {{course.enrollmentkey}}</span>
                                            <span class="md-subhead" style="color:#337ab7;"><input type="button" class="btn btn-primary" value="Select" ng-model="select" ng-click="select(course)" /></span>
                                          </md-card-title-text>
                                        
                                    </md-card-title>
                                                                                                              
                                           
                                        
                                           </div>
                                            
                                           
                                        </div>
                                    </div>
                                                      
                              
                             
                          </form>

                                              </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

     
